<section id="about" class="section">
    <div class="about-container">
      <h1 class="about-title">
        <div class="about-title-content">
            <span class="still-text">HUH?</span>
            <span class="curious-text">What's this?</span>
        </div>
      </h1>
  
        <div class="about-content">
                <p>
                    <span class="large-quote">"</span>
                    I'm an ai-powered health buddy, tryna make medical insights quick and easy. tell me your symptoms, 
                    and I'll analyze them in real-time giving you instant recommendations, potential conditions, and wellness tips—all for free.
                    Think of me as your 24/7 health detective. Because good health should be simple and accessible to everyone.
                </p>
                <div class="important-note">
                  <div class="note-content">
                      <strong>Ayyy </strong>I'm not a doctor! Consult a real human professional Physician for diagnosis and treatment, if serious.
                  </div>
              </div>           
        </div>
    </div>
  </section>
  
  <div class="section-separator"></div>